@page
@model AboutModel
@{
    ViewData["Title"] = "Anatomy & Biology";
}
@*<h2>@ViewData["Title"]</h2>*@

<h2>
    Height, weight, and general info
</h2>
<ul>
    <li>
        Average Height: 5 feet
    </li>
    <li>
        Average Length: 8 feet
    </li>
    <li>
        Average Weight: 1200 pounds
    </li>
    <li>
        Hair color: White fur
    </li>
    <li>
        Eye color: Deep sea blue, violet, gold and pink
    </li>
    <li>
        Distinctions: a 2 foot long horn on its head
    </li>
</ul>
   <h2>Did you know?</h2>
    
    A unicorn resembles a horse with a white coat, mane, and tail. However, it has a number of traits that distinguishes it from a horse including cloven hooves and long ivory-colored horn that protrudes from its forehead. Males have a white beard.
    
   <h2>How the animal breathes</h2>
    A flap of tissue called the soft palate blocks off the throat from the mouth of the unicorn, except when swallowing. This helps to prevent the unicorn from inhaling food, but does not allow use of the mouth to breathe when in respiratory distress, a unicorn can only breathe through its nostrils.
   <h2>Average lifespan</h2>
    The average lifespan of a unicorn is 1000 years.
