@page
@model PrivacyModel
@{
    ViewData["Title"] = "Image Gallery";
}
@*<h2>@ViewData["Title"]</h2>*@

<img src="~/images/UnicornCartoonDab.jpg" width="300px" />
<p>Cartoon unicorn illustrating "the dab."</p>