@page
@model PrivacyModel
@{
    ViewData["Title"] = "Image Gallery";
}
@*<h2>@ViewData["Title"]</h2>*@

<img src="~/images/unicorn.png" />
<img src="~/images/unicorn1.png" />
<img src="~/images/unicorn3.jpg" />
<img src="~/images/unicorn4.jpg" />
<img src="~/images/unicorn5.jpg" />
<img src="~/images/unicorn6.jpg" />
<img src="~/images/unicorn7.jpg" />
<img src="~/images/UnicornCartoonDab.jpg" width="300px" />
<img src="~/images/unicorn2144cc84411be628f03f77736d483820d0ac6f95e0965a492c876037e86a43970.png" />