@page
@model PrivacyModel
@{
    ViewData["Title"] = "Image Gallery";
}
@*<h2>@ViewData["Title"]</h2>*@

<p>
    If you want to submit more images to our gallery, please email webmaster@psf-unicorns.azurewebsites.net!
</p>

<a href="/Image01">Image 1</a>
<a href="/Image02">Image 2</a>
<a href="/Image03">Image 3</a>
<a href="/Image04">Image 4</a>