@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>
        Welcome to the Unicorn factoid universe
    </h1>
    <img src="~/images/unicorn.png" />
    <h2>
        Our purpose is to help educate school children about these majestic beasts. Here you can get all your major facts and information about these wonderous creatures.
    </h2>
</div>